cvxpy
dicttoxml
jupyterlab
keyring
matplotlib
numpy
pandas>=2.0.3
pyportfolioopt
pytz
recommonmark
requests
scikit-learn
scipy
selenium
setuptools<=64.0.2
sphinx
sphinx_rtd_theme
statsmodels
tqdm
xmltodict
yahooquery
yfinance
git+https://github.com/nathanramoscfa/pyetrade.git#egg=pyetrade
git+https://github.com/nathanramoscfa/pandas_market_calendars.git#egg=pandas-market-calendars
